@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital@1&display=swap');

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: 'Sofia Sans', sans-serif;
        }


        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0px 150px;
        }

        .logo {
            color: white;
            font-size: 25px;
            cursor: default;
        }

        .menu a {
            color: white;
            margin-left: 60px;
            margin: 0 20px;

        }

        .dark-mode {
            background-color: #920DA7;
            color: rgb(0, 0, 0);
        }

        #header {
            background-color: #920DA7;
            height: 600px;
        }

        #header .logo {
            margin-top: 40px
        }

        .menu {
            text-decoration: none;
            font-size: 20px;
            margin-top: 50px;
            display: flex;
        }

        a {
            text-decoration: none;
        }

        button {
            background: transparent;
            color: white;
            border: 0;
            height: 50px;
            cursor: pointer;
        }

        i {
            scale: 1.4;
        }

        #header img {
            width: 250px;
            margin-left: 200px;
            margin-top: 55px;
            border-radius: 20px;
            box-shadow: -35px -35px #52BA00;
        }

        #header .texto {
            margin-left: 470px;
            

        }

        .uniao {
            display: flex;
            margin-right: 10px;
        }

        .uniao h1 {
            margin-top: 150px;
            text-align: center;
            margin-right: 200px;
            color: white;
            font-size: 35px;
            scale: 1.4;
        }

        .laranja {
            margin: 0 220px;
            margin-top: 70px;
            color: #EA4710;
            font-weight: 600;
            font-size: 40px;
        }

        .containerdois {
            width: 100px;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 420px;
        }

        .containerdois h2 {
            padding: 5px;
        }

        .item img {
            text-align: center;
            margin: 20px;
            width: 200px;
            height: 200px;
            align-items: center;
            justify-content: center;
        }

        .roxao {
            background-color: #920DA7;
            width: 100%;
            height: 600px;
            padding-top: 20px;
        }

        .verde {
            margin: 80px 220px;
            margin-top: 100px;
            color: #70FF00;
            font-weight: 600;
            font-size: 40px;
        }

        .camera {
            width: 800px;
            margin-left: 410px;
        }

        .form-contato {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 40px;
        }

        form {
            display: grid;
        }

        input{
            background-color: #D9D9D9;
            border: none;
            border-radius: 3px;
            height: 30px;
        }

        textarea{
            background-color: #D9D9D9;
            border: none;
        }

        .form-contato img{
            height: 400px;
            width: auto;
        }

        button{
            background-color: #920DA7;
            color: white;
            border-radius: 60px;
            width: 120px;
            height: 30px;
            font-size: 17px;
        }

        .final{
            background-color: #920DA7;
            height: 230px;
            margin-top: 90px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .final h1{
            margin-top: 45px;
        }